# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.#*
*#*#

*/db/*
*/output_files/*
*/incremental_db/*
*~
*.bak

CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
